<div class="header">
  <div class="row">
	<div class="col-sm-3">
  <img  class="img-rounded" alt="BRAINcode" src="/img/BRAINcode.logo.png" width="180">
	</div>
	<div class="col-sm-9">
	  <h3 class="text-muted" style="font-size:100px;font-family:'Kranky', Georgia, Times;"><a href="/">BRAINcode Project</a></h3>
	  <p style="font-size:15px;color:gray; font-family:'Kranky', Georgia, Times;">Integrative analysis of human neuronal genome, transcriptome, and more.</p>
	 </div>
	</div>
</div> <!-- /header -->